helm_longhorn:
  repo: longhorn
  chart: longhorn
  version: 1.3.1
  state: present
  values_helm:
    ingress:
      enabled: true
      host: longhorn{{ cluster_domain }}
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/ssl-redirect: "false"